body {
    font-family: 'Roboto', sans-serif;
}

.wrapper_60 {
    width: 60%;
    margin: 0 auto;
}

/* Header */

/* Header-nav */
.my_navbar {
    margin-left: 50px;
    vertical-align: middle;
    line-height: 34px;
    height: 0px;
}

.my_navbar li{
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}

.my_navbar a {
    margin-left: 20px;
    vertical-align: middle;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
    color: black;
    font-weight: bold;
}

.btn-default {
    color: blue;
    background-color: #fff;
    border-color: blue;
    font-weight: bold;
}

.btn {
    padding: 4px 8px;
    font-size: 12px;
    margin-top: 12px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: blue;
}

.navbar-default {
    background-color: white;
    border-color: none;
}

.navbar {
    border: none;
    margin-bottom: 0;
}

.navbar-header .navbar-brand > img {
    height: 100%;
}

/* Header Central */
.header_central {
    /* height: 400px; */
    background-image: url('../img/bg-banner-home.jpg');
    background-size: cover;
    padding-top: 50px;
}

#header_central {
    padding: 40px 0;
}

.header_central_characters > h1 {
    color: white;
    font-size: 45px;
    font-weight: bold;
}

.header_central_characters p {
    color: lightgrey;
}

.deploy_started {
    background-color: white;
    border-radius: 5px;
    /* min-height: 250px; */
    padding: 20px 10px;
}

.deploy_started > h3 {
    font-weight: bold;
    text-align: center;
}

.deploy_started > h4 {
    font-weight: bold;
    text-align: center;
    color: dodgerblue;
    font-size: 24px;
}

#deploy_started_p {
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
}

#deploy_started_p > a {
    text-decoration: underline;
}

.button_account>
.btn-primary.active,
.btn-primary:active,
.open>.dropdown-toggle.btn-primary {
    width: 100%;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 5px;
}

.button_google {
    width: 100%;
    margin-top: 5px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-image: url(../img/google-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

#google_a {
    width: 100%;
    text-decoration: none;
    color: grey;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

#google_p {
    font-weight: bold;
    text-align: center;
    margin-top: 8px;
    font-size: 10px;
}

#google_p > a {
    text-decoration: underline;
    color: dodgerblue;
}

/* Header bottom */
.header_bottom {
    background-color: #F3F5F9;
    padding: 30px 0;
}

.header_bottom > h5 {
    color: grey;
    text-align: center;
    margin-top: 0;
    font-weight: bold;
}

.header_bottom  img {
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
}

#header_bottom_p {
    text-align: center;
    color: dodgerblue;
}

/* Main */

/* Main deploy */
.main_deploy {
    padding: 40px 0;
}

.main_deploy h3 {
    font-weight: bold;
    text-align: center;
}

#main_deploy_p1 {
    text-align: center;
    color: grey;
    margin-bottom: 30px;
    font-size: 15px;
}

.main_deploy h5 {
    font-weight: bold;
}

#main_deploy_p {
    text-align: left;
    font-size: 10px;
}

.main_deploy img {
    height: 30px;
}

.main_deploy_div {
    border-left: 2px solid lightgrey;
}

.main_deploy_div a {
    color: grey;
    display: block;
    margin-top: 10px;
    margin-left: 5px;
}

/* Main designed */
.main_designed {
    padding: 40px 0;
    background-color: #F3F5F9;
}

.main_designed h3 {
    font-weight: bold;
    text-align: center;
}

#main_designed_p {
    color: grey;
    text-align: center;
    font-size: 15px;
    margin-bottom: 40px;
}

.my_designed > img {
    height: 300px;
}

#chevron_left_designed {
    font-size: 30px;
    color: lightskyblue;
    margin-right: 10px;
}

#chevron_right_designed {
    font-size: 30px;
    margin-left: 10px;
    color: darkblue;
}

#main_designed_p1 {
    font-size: 11px;
    font-weight: bold;
    margin-top: 15px;
    color: grey;
}

.my_circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid dodgerblue;
    display: inline-block;
}

.my_circle_blue {
    background-color: dodgerblue;
}

/* Main features */
.main_features {
    padding: 40px 0;
}

.main_features > h3 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.main_features img {
    height: 28px;
}

.main_features h5 {
    font-weight: bold;
}

.main_features p {
    color: grey;
}

/* Main services */
.main_services {
    padding: 40px 0;
    background-color: #073569;
}

.main_services > h3 {
    color: white;
    font-weight: bold;
    text-align: center;
}

.my_services {
    border-bottom: 1px solid white;
    position: relative;
}
.my_services > h6 {
    display: inline-block;
    color: white;
}
#my_services_p {
    display: inline-block;
    color: white;
    margin-left: 50px;
    font-size: 9px;
}
.my_services a {
    color: aquamarine;
    position: absolute;
    right: 0;
    font-size: 12px;
    line-height: 33.33px;
}

/* Main development */
.main_development {
    background-color: lightgrey;
    padding: 40px 0;
}

.main_development > h3{
    font-weight: bold;
    margin-bottom: 25px;
}

#chevron_left {
    position: absolute;
    left: 26%;
    font-size: 30px;
    color: lightskyblue;
    line-height: 222px;
}

#chevron_right {
    position: absolute;
    right: 26%;
    line-height: 222px;
    color: darkblue;
    font-size: 30px;
}

.my_development {
    background-color: white;
    border-radius: 5px;
    padding: 50px 0;
    position: relative;
}

.my_development  img {
    height: 30px;
}

.wrapper_40 {
    width: 40%;
    margin: 0 auto;
}

#main_development_p {
    color: grey;
    margin-top: 15px;
    font-weight: bold;
    font-size: 13px;
}

.my_development h5 {
    font-weight: bold;
}

.my_circle_top {
    margin-top: 20px;
}

/* Main started */
.main_started {
    padding: 40px 0;
    background-color: #073569;
}

.main_started > h3 {
    color: white;
    font-weight: bold;
}

/* Footer */
.footer {
    background-color: darkblue;
    padding: 40px 0;
}

.footer img {
    height: 30px;
}

#footer_p {
    font-size: 11px;
    color: grey;
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: bold;
}

#footer_p1 {
    font-size: 9px;
    color: lightgrey;
    margin: 0;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer a {
    color: grey;
    font-size: 15px;
    padding-right: 10px;
}

.footer h5 {
    color: white;
    font-weight: bold;
}

.footer_div a {
    color: grey;
    font-weight: bold;
    margin-top: 5px;
    display: block;
    font-size: 11px;
}